<h1>Books</h1>
<!--投稿一覧、テーブル作成-->
<table>
<thead>
 <tr>
  <th>Title</th>
  <th>Body</th>
  <th colspan="3"></th>
 </tr>
</thead>

<tbody>
  <% @books.each do |book| %>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to "Show", "/books/:id" %> 
       <%= link_to"Edit", "/books/:id/edit" %>
       <%= link_to"Destroy" %></td>
     <% end %>
 </tbody>
</table>


<!--新規投稿-->

<%= form_with model: Book.new do |f| %>
<h2>New book</h2>

<p>Title<br><%= f.text_field :title %></p>

<p>Body<br><%= f.text_area :body %></p>

<br>
<%= f.submit 'Creat Book' %>

<% end %>